::-webkit-slider-runnable-track {
  /* background: #ddd; */
}

::-moz-range-track {
  /* background: #f00; */
  height: 100%;
}

::-moz-range-thumb {
  /* -moz-appearance: none; */
  width: 34px;
  height: 34px;
  /* border-radius: 50%; */
  /* background: black;
  box-shadow: -100vw 200px 10px 100vw rgba(6, 138, 187, 0.5);
  border: none; */
}

::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  width: 34px;
  height: 34px;
  /* border-radius: 50%; */
  /* background: rgba(6, 138, 187, 1);
  box-shadow: -100vw 200px 10px 100vw rgba(6, 138, 187, 0.5);
  border: none; */
}

h1 {
  font-size: 24pt;
  padding: 2%;
}

p {
  font-size: 18pt;
  padding: 2%;
}
